Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
build/
/.vs
/out/
update_submodule.txt
*.sav
Windows/VisualStudio/id1
Windows/VisualStudio/hipnotic
Windows/VisualStudio/rogue
*.txt
*.json
*.cache
/Windows/VisualStudio/dopa
/Windows/VisualStudio/dwellv2p2
/Windows/VisualStudio
